
.speaker-slider {
    display: flex; 
    justify-content: center;
    padding: 20px; 
  }
  
  .card {
    width: 200px;
    font-size: larger;
    padding: 20px;
    text-align: center;
    border: 1px dashed grey;
    border-radius: 8px; 
    cursor: pointer;
  }
  .card:hover{
    width: 250px;
    padding: 15px;
  }
  
  .img1 {
    width: 100%;
    border-radius: 50%; 
  }
  
  
  
  .modal {
    display: none;
    position: fixed;
    top:50%;
    width: 40%;
    padding: 20px;
    background: skyblue;
    border-radius: 8px;
    border: 1px solid black;
  }
  
  .content {
    position: relative;
  }
  
  .close {
    top: 10px;
    right: 10px;
    font-size: 20px; 
    cursor: pointer; 
  }
  
  .name,
  .title,
  .bio {
    margin: 10px 10px; 
  }
  